<link rel="stylesheet" href="/public/assets/css/seller/manageDashboard.css">
<script defer src="/public/script/seller/filepond/fileUploadDashboard.js"></script>
<script defer src="/public/script/seller/dashboard/general.js" type="module"></script>
<script defer src="/public/script/seller/dashboard/widgets.js" type="module"></script>
<script defer src="/public/script/seller/dashboard/modal.js" type="module"></script>

<div class="dashMainCont">
    <div class="header-cont">
        <p class="sectionMainText">Seller Center</p>
        <div class="icon">
            <div class="notif"></div>
            <ion-icon name="notifications" role="img" class="md hydrated" aria-label="notifications"></ion-icon>
        </div>
    </div>
    <div class="body-cont">
        <div class="body-row-1">
            <div class="startSelling-cont">
                <div class="text-side">
                    <div class="upperTextArea">
                        <p class="mainText">Welcome,</p>
                        <p class="userText">
                            <%=sellerInfo.accountCol.displayName%>
                        </p>
                    </div>
                    <div class="lowerTextArea">
                        <p class="staticText">Are we all set to live?</p>
                        <button class="btnStartLiveSell <%- sellerInfo.accountCol.verifiedSeller ? '': 'disabled' %>" <%- sellerInfo.accountCol.verifiedSeller ? '': 'disabled' %> data-toggle="modal" data-target="#modalStartLiveSell" 
                        style="position: relative;">
                        <%- sellerInfo.accountCol.verifiedSeller ? '': 
                        `<div id="needVerifyInfo" style=" position: absolute; width: 20px; height: 20px; background: red; border-radius: 50%; top: -7px; right: -5px;
                        ">
                        <ion-icon name="information" style="color: white;font-size: 18px;"></ion-icon>
                        </div>
                        ` %> 
                            start live sell
                        </button>
                        <div id="needVerifyText" 
                        style="
                            display: none;
                            position: absolute;
                            top: 215px;
                            left: 245px;
                            font-size: 13px;
                            width: 250px;
                            background: #ffffffb8;
                            padding: 10px;
                            border-radius: 10px 10px 10px 0;
                        ">
                            Store documents are not verified. Please go to <strong>Settings</strong> and verify your documents.
                        </div>
                    </div>
                </div>
                <div class="img-side">
                    <img src="/public/assets/images/seller/dashboard/illustration.png" alt="">
                </div>
            </div>
            <div class="liveStats-cont">
                <p class="liveStatsLabel">recent live summary</p>
                <div class="stats-cont">
                    <canvas id="liveStream-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="body-row-2">
            <div class="summary-cont">
                <div class="mini-cont">
                    <div class="summaryImg-cont">
                        <img class="summaryImg" src="/public/assets/images/seller/dashboard/items-to-be-sold.svg"
                            alt="">
                    </div>
                    <div class="summaryText-cont">
                        <p class="staticText">items to be sold</p>
                        <p class="dynamicText" id="lblItemsToBeSold">-</p>
                    </div>
                </div>
                <div class="mini-cont">
                    <div class="summaryImg-cont">
                        <img class="summaryImg" src="/public/assets/images/seller/dashboard/weekly-sales.svg" alt="">
                    </div>
                    <div class="summaryText-cont">
                        <p class="staticText">weekly revenue</p>
                        <p class="dynamicText" id="lblWeeklyRevenue">-</p>
                    </div>
                </div>
                <div class="mini-cont">
                    <div class="summaryImg-cont">
                        <img class="summaryImg" src="/public/assets/images/seller/dashboard/total-sales.svg" alt="">
                    </div>
                    <div class="summaryText-cont">
                        <p class="staticText">total revenue</p>
                        <p class="dynamicText" id="lblTotalRevenue">-</p>
                    </div>
                </div>
                <div class="mini-cont">
                    <div class="summaryImg-cont">
                        <img class="summaryImg" src="/public/assets/images/seller/dashboard/items-sold.svg" alt="">
                    </div>
                    <div class="summaryText-cont">
                        <p class="staticText">items sold</p>
                        <p class="dynamicText" id="lblItemsSold">-</p>
                    </div>
                </div>
                <div class="mini-cont">
                    <div class="summaryImg-cont">
                        <img class="summaryImg" src="/public/assets/images/seller/dashboard/total-customers.svg" alt="">
                    </div>
                    <div class="summaryText-cont">
                        <p class="staticText">total customers</p>
                        <p class="dynamicText" id="lblTotalCustomers">-</p>
                    </div>
                </div>
                <div class="mini-cont">
                    <div class="summaryImg-cont">
                        <img class="summaryImg" src="/public/assets/images/seller/dashboard/star.svg" alt="">
                    </div>
                    <div class="summaryText-cont">
                        <p class="staticText">customer rating</p>
                        <p class="dynamicText" id="lblCustomerRating">-</p>
                    </div>
                </div>
            </div>
            <div class="reportHistory-cont">
                <div class="reportHist-header">
                    <p class="title">recent reported customers</p>
                    <a href="sellercenter/reports" class="viewAllReport">View all</a>
                </div>
                <div class="reportHist-body" id="reportContainer">
                    <!-- If no reports -->
                    <div class="default">
                        You have no reports 🎉
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Live Selling Modal -->
<div class="modal fade" id="modalStartLiveSell" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="backdropstaticlabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backdropstaticlabel">Create live stream | <span id="store">
                        <%-store%>
                    </span>.</h5>
                <p id="uid" hidden>
                    <%- uid %>
                </p>
            </div>
            <div class="modal-body">
                <div class="createLiveCont">
                    <div class="first-part">
                        <div class="editCont">
                            <form id="preview-form">
                                <div class="detailsCont">
                                    <div class="storeInfo">
                                        <div class="storeEvt">
                                            <p class="subText">Event Name (Optional)</p>
                                            <input name="formInput" type="text" placeholder="Opening Sale">
                                        </div>
                                        <div class="storeDesc">
                                            <p class="subText">Event Description</p>
                                            <input name="formInput" type="text"
                                                placeholder="Introducing the all new Apple Products!">
                                        </div>
                                    </div>
                                </div>
                                <div class="imgCont">
                                    <div class="storeLogo">
                                        <p class="subText">Store Logo</p>
                                        <input name="formInput" type="file" class="filepond fileLogo">
                                    </div>
                                    <div class="storeBanner">
                                        <p class="subText">Store Banner</p>
                                        <input name="formInput" type="file" class="filepond fileBanner">
                                    </div>
                                </div>
                                <div class="btnPrevCont">
                                    <button type="submit" class="previewButton">
                                        Preview
                                    </button>
                                </div>
                            </form>
                        </div>
                        <hr class="modalLine">
                        <div class="prevCont">
                            <div class="prevDesc">
                                <div class="mainLabel">
                                    Channel Preview
                                </div>
                                <div class="labelDesc">
                                    This is what the customer will see
                                </div>
                            </div>
                            <div class="preview skeleton">
                                <div class="upperCont">
                                    <div class="logo"></div>
                                </div>
                                <div class="lowerCont">
                                    <div class="storeNameCont">
                                        <p class="fixedLiveStatus">Live</p>
                                        <p class="storeName">
                                            <%-store%> (Event Name)
                                        </p>
                                    </div>
                                    <div class="storeDescCont">
                                        <p class="storeDesc">Store Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-part" style="display: none">
                        <div class="storeSched">
                            <div class="alert alert-info" id="dynamicRoomLabel" role="alert">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </div>
                            <p class="subText">Store Schedule</p>
                            <div class="sched">
                                <div class="schedStart">
                                    <p class="subText">Live Start Time</p>
                                    <input type="time" name="formInput2" id="inputStartTime">
                                </div>
                                <div class="schedEnd">
                                    <p class="subText">Live Duration</p>
                                    <select name="formInput2" id="">
                                        <option hidden selected>Session Length</option>
                                        <option value="30">30 Minutes</option>
                                        <option value="1">1 Hour</option>
                                        <option value="2">2 Hours</option>
                                        <option value="3">3 Hours</option>
                                        <option value="4">4 Hours</option>
                                        <option value="5">5 Hours</option>
                                    </select>
                                </div>
                                <div class="currentTime">
                                    <p class="subText">You'll end at</p>
                                    <p class="time" id="currentTime"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="buttonCloseModal" data-dismiss="modal">Close</button>
                <div class="button-controller">
                    <button type="button" class="btnSlide buttonBack disabled" id="btnBack" disabled>Back</button>
                    <button type="button" class="btnSlide buttonCreate" id="btnNext">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buy Toast -->
<div class="position-fixed top-0 right-0 p-3" style="z-index: 99; right: 0; top: 0;">
    <div id="buyToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"
        style="width: 500px">
        <div class="toast-header">
            <img src="/public/assets/images/mainLogo.png" class="mr-2" style="width: 35px; height: 35px;">
            <strong class="mr-auto">City Sales Cloud</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" style="display: flex; align-items: center; color: limegreen;">
            <div class="tost-icon"
                style=" display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                <ion-icon name="cash-outline" style="font-size: 25px; margin-right: 5px;"></ion-icon>
            </div>
            <div class="tost-message"></div>
        </div>
    </div>
</div>