<link rel="stylesheet" href="/public/assets/css/seller/settings.css">
<script defer src="/public/script/seller/settings/general.js" type="module"></script>

<% if (settingsTab==='account') { %>
    <script defer src="/public/script/seller/filepond/fileUploadSettings.js"></script>
<% } else if (settingsTab==='verify_documents') { %>
    <script defer src="/public/script/seller/filepond/fileUploadAuthSeller.js"></script>
<% } %> 

<div class="main-container">
    <header>
        Settings
        <p id="uid" hidden>
            <%- uid %>
        </p>
    </header>
    <div class="settings-container">
        <aside>
            <div class="tab-links">
                <a href="?tab=account" class="settings-link">Account</a>
                <a href="?tab=verify_documents" class="settings-link">Verify Documents</a>
                <a href="?tab=activity_log" class="settings-link">Activity log</a>
                <a href="?tab=faq" class="settings-link">FAQ</a>
                <a href="?tab=about" class="settings-link">About Us</a>
            </div>
        </aside>
        <div class="tab-container">

            <!-- Accounts Section -->
            <div class="account-tab" style=<%=settingsTab==='account' ? ("display:block") : ("display:none") %> >
                <div class="tab-header">
                    My Account
                    <b class="header-line"></b>
                </div>
                <div class="tab-body">
                    <section class="profile">
                        <div class="avatar">
                            <p class="lblProfile">Avatar</p>
                            <img src="<%=settingsData[0].accountPhoto ? `data:${settingsData[0].photoType};base64,${settingsData[0].accountPhoto}` : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'%>"
                                atl="<%=settingsData[0].accountName ? settingsData[0].accountName : 'default seller'%>"
                                class="display-photo" style="display: block">
                            <div class="filUpload" style="display: none">
                                <input type="file" class="filepond" name="filepondProfile" id="inputPhoto">
                            </div>
                            <button class="btn-change" id="icon-upload" style="display: block">
                                <ion-icon name="camera"></ion-icon>
                            </button>
                            <button class="btn-change" id="icon-close" style="display: none">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                        </div>
                        <div class="info">
                            <div>
                                <p class="main-text">
                                    <%=settingsData[0].accountName ? settingsData[0].accountName : 'seller12345' %>
                                </p>
                                <p class="sub-text">
                                    <%=settingsData[0].accountEmail%>
                                </p>
                            </div>
                            <button class="btn-changePhoto" style="display: none">Change Photo</button>
                        </div>
                    </section>
                    <section class="information">
                        <form action="/sellercenter/settings" method="POST">
                            <div class="form-group">
                                <div class="col">
                                    <input name="uid" hidden value="<%-uid%>" />
                                    <div class="label-container">
                                        <p class="main-label">Display name</p>
                                        <p class="sub-label">Visible to other members</p>
                                    </div>
                                    <input required class="form-input" name="accountName" type="text"
                                        placeholder="e.g. John" disabled
                                        value="<%=settingsData[0].accountName ? settingsData[0].accountName : 'seller12345'%>" />
                                </div>
                                <div class="col">
                                    <div class="label-container">
                                        <p class="main-label">Full name</p>
                                        <p class="sub-label">How do you want to be called?</p>
                                    </div>
                                    <input required class="form-input" name="accountFname" type="text"
                                        placeholder="e.g. John Smith" disabled
                                        value="<%=settingsData[0].accountFname ? settingsData[0].accountFname : null%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    <div class="label-container">
                                        <p class="main-label">Email address</p>
                                        <p class="sub-label">For logging in</p>
                                    </div>
                                    <input required class="form-input" name="accountEmail" type="email"
                                        placeholder="e.g. john_smith@sample.com" disabled
                                        value="<%=settingsData[0].accountEmail%>">
                                </div>
                                <div class="col">
                                    <div class="label-container">
                                        <p class="main-label">Phone number</p>
                                        <p class="sub-label">For receiving notifications</p>
                                    </div>
                                    <input required class="form-input" name="accountNumber" type="text"
                                        placeholder="e.g. +31 6 12 34 56 78" disabled
                                        value="<%=settingsData[0].accountNumber%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col">
                                    <div class="label-container">
                                        <p class="main-label">Birth Date</p>
                                        <p class="sub-label">For payment purposes</p>
                                    </div>
                                    <input required class="form-input" name="accountBday" type="date" disabled
                                        value="<%=settingsData[0].accountBirthday%>">
                                </div>
                                <div class="col">
                                    <div class="label-container">
                                        <p class="main-label">Gender</p>
                                        <p class="sub-label">For other purposes</p>
                                    </div>
                                    <select required class="form-input" name="accountGender" disabled>
                                        <option value="">Select a gender...</option>
                                        <%if(settingsData[0].accountGender==='Male' ){%>
                                            <option selected value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                            <%}else if(settingsData[0].accountGender==='Female' ){%>
                                                <option value="Male">Male</option>
                                                <option selected value="Female">Female</option>
                                                <option value="Other">Other</option>
                                                <%}else{%>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option selected value="Other">Other</option>
                                                    <%}%>
                                    </select>
                                </div>
                            </div>
                            <div class="form-button">
                                <div class="edit-form" style="display: block">
                                    <div class="edit-div" id="btnEditProfile">Edit Profile</div>
                                </div>
                                <div class="submit-form" style="display: none">
                                    <div class="cont">
                                        <button id="btnUpdateData" type="submit">Save Changes</button>
                                        <div class="cancel-div" id="btnCancelUpdate">Cancel</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section class="danger-zone">
                        <div class="delete-account">
                            <div class="info-labels">
                                <p class="main-text">Delete Account</p>
                                <p class="sub-text">By deleting your account you will lose all your data</p>
                            </div>
                            <div class="delete-button">
                                <button>Delete Account</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Verify Documents Section -->
            <div class="docs-tab" style=<%=settingsTab==='verify_documents' ? ("display:block") : ("display:none") %> >
                <div class="tab-header">
                    Verify Documents
                    <b class="header-line"></b>
                </div>
                <div class="tab-body">
                    <div class="store-wrapper">
                        <div class="store-info">
                            <div>
                                <label>Store Name:</label>
                                <p>Handyman Appliances</p>
                            </div>
                            <div>
                                <label>Status:</label>
                                <p>Not Verified</p>
                            </div>

                        </div>
                        <div class="business-info">
                            <div>
                                <label>Store Type:</label>
                                <p>Original Equipment Manufacturer <strong>OEM</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="upload-wrapper">
                        <div class="citizenship upload">
                            <div class="upload-header">
                                <div>
                                    <p class="main-text">Citizenship ID</p>
                                    <ion-icon name="help-circle" id="dynamicHelpToolCitizenship"></ion-icon>
                                    <div class="help-text" id="dynamicHelpTextCitizenship" style="display:none">
                                        List of Acceptable Valid IDs: Passport, SSS ID, Voter's ID, PhilHealth ID, UMID, PhilID.
                                    </div>
                                </div>
                                <button class="edit-id">Edit</button>
                            </div>
                            <div class="upload-body">

                                <!-- Display Image -->
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Philippine_passport_%282016_edition%29_data_page_%28cropped%29.jpg" alt="" style="display: none">
                                
                                <!-- Upload Image -->
                                <div style="width:100%">
                                    <input type="file" class="filepond">
                                </div>
                            </div>
                        </div>
                        <div class="personal upload">
                            <div class="upload-header">
                                <div>
                                    <p class="main-text">Personal ID</p>
                                    <ion-icon name="help-circle" id="dynamicHelpToolPersonal"></ion-icon>
                                    <div class="help-text" id="dynamicHelpTextPersonal" style="display:none">
                                        List of Acceptable Valid IDs: Employee's ID, Driver's License, School ID.
                                    </div>
                                </div>
                                <button class="edit-id">Edit</button>
                            </div>
                            <div class="upload-body">

                                <!-- Display Image -->
                                <img src="https://www.sssonlineinquiry.net/wp-content/uploads/2019/08/SSS-ID-Front.jpg" alt="" style="display: none">
                                
                                <!-- Upload Image -->
                                <div style="width:100%">
                                    <input type="file" class="filepond">
                                </div>
                            </div>
                        </div>
                        <div class="business upload">
                            <div class="upload-header">
                                <div>
                                    <p class="main-text">Business License</p>
                                    <ion-icon name="help-circle" id="dynamicHelpToolBusiness"></ion-icon>
                                    <div class="help-text" id="dynamicHelpTextBusiness" style="display:none">
                                        This is only for branded stores. You will be labeled as <strong>OEM</strong> if your store is not branded.
                                    </div>
                                </div>
                                <button class="edit-id">Edit</button>
                            </div>
                            <div class="upload-body">

                                <!-- Display Image -->
                                <img src="https://cf.ltkcdn.net/business/images/orig/172149-342x264-business-license-small.jpg" alt="" style="display: none">
                                
                                <!-- Upload Image -->
                                <div style="width:100%">
                                    <input type="file" class="filepond">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Activity Log Section -->
            <div class="logs-tab" style=<%=settingsTab==='activity_log' ? ("display:block") : ("display:none") %> >
                <div class="tab-header">
                    Activity Log
                    <b class="header-line"></b>
                </div>
                <div class="tab-body">
                    <section class="activity-logs">
                        <% settingsData[1].forEach(logData=> { %>
                            <div class="log-wrapper">
                                <p class="log-wrapper-header">
                                    <%= logData.date %>
                                </p>
                                <% logData.logs.reverse().forEach(val=> { %>
                                    <div class="log">
                                        <div class="log-body">
                                            <div class="photo">
                                                <img src="<%= val.photo %>" alt="<%= val.name %>">
                                            </div>
                                            <div class="info">
                                                <div class="title"><strong>
                                                        <%= val.name %>
                                                    </strong>
                                                    <%- val.description %>
                                                </div>
                                                <div class="time-changed">
                                                    <%= val.time %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <% }) %>
                    </section>
                </div>
            </div>

            <!-- FAQ Section -->
            <div class="faq-tab" style=<%=settingsTab==='faq' ? ("display:block") : ("display:none") %> >
                <div class="tab-header">
                    FAQ
                    <b class="header-line"></b>
                </div>
                <div class="tab-body">

                </div>
            </div>

            <!-- About Us Section -->
            <div class="about-tab" style=<%=settingsTab==='about' ? ("display:block") : ("display:none") %> >
                <div class="tab-header">
                    About Us
                    <b class="header-line"></b>
                </div>
                <div class="tab-body">

                </div>
            </div>
        </div>
    </div>
</div>