<link rel="stylesheet" href="/public/assets/css/customer/order.css">

<main>
    <h1>Order Status</h1>
    <div class="orders">
        <!-- Navigation -->
        <div class="nav-orders">

            <div class="back">
                <a href="/customercenter/orders" style="font-size: 1.06rem">
                    <ion-icon name="chevron-back-outline"></ion-icon> Back
                </a>
            </div>

            <div class="orderInfo">
                <div>ORDER ID: </div>
                <div id="orderID" style="font-weight: 600"><%= displayOrderInfo.id %></div> |
                <b style="color: #ff7782"><%= displayOrderInfo.status %></b>
            </div>

        </div><!-- END OF NAVIGATION and ORDER INFO -->

        <!-- List of Orders -->
            <div class="order" style="background: var(--color-background)">

                <!-- STEP PROGRESS BAR -->
                <div class="orderProgress">
                    <ul>

                        <!-- ORDER PLACED -->
                        <li>
                            <ion-icon name="receipt-outline" class="icon"></ion-icon>
                            <div class="active order-progress one">
                                <p>1</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Placed</h2>
                            <small id="orderDate" class="text-muted" style="display: block;"><%= displayOrderInfo.placedOn %></small>
                        </li>

                        <!-- PAYMENT INFO CONFIRMED -->
                        <li>
                            <ion-icon name="cash-outline" class="icon"></ion-icon>
                            <div class="order-progress two">
                                <p>2</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Confirmed</h2>
                        </li>

                        <!-- ORDER SHIPPED OUT-->
                        <li>
                            <ion-icon name="rocket-outline" class="icon"></ion-icon>
                            <div class="order-progress three">
                                <p>3</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Shipping</h2>
                        </li>

                        <!-- DELIVERED-->
                        <li>
                            <ion-icon name="archive-outline" class="icon"></ion-icon>
                            <div class="order-progress four">
                                <p>4</p>
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                            <h2>Delivered</h2>
                        </li>

                    </ul>
                </div><!-- END OF STEP PROGRESS BAR -->

                <hr size="6" style="background-color: var(--color-primary);">
                
                <div class="customerInfo">
                    <div class="delivAdd">
                        <ion-icon name="cube-outline"></ion-icon>
                        <h2 style="font-weight: 500">Delivery Address</h2>
                    </div>
                    
                    <div class="customerDetails">
                        <p id="customerName" style="font-weight: 500; font-size: 1rem"><%= displayOrderInfo.customer.name %></p><br>
                        <p id="customerNumber"><%= displayOrderInfo.customer.contactNo %></p>
                        <p id="customerAddress"><%= displayOrderInfo.orderAddress %></p>
                    </div>
                </div>


                <hr size="3" style="background-color: #b1bcbe;">

                <!-- ITEM ORDERED -->
                <div class="middle">
                    <% displayOrderInfo.items.forEach(item => { %>
                        <div class="item-content">
                            <div class="item">
                                <img src="<%= item.image %>">
                                <div class="item-name">
                                    <h2 style="font-weight: 400"><%= item.name %></h2>
                                    <p class="text-muted"><%= item.description %></p>
                                    <p class="text-muted">Color: <%= item.colorName %> | Size: <%= item.size %></p>
                                </div>
                            </div>
                            <div class="item-qty">
                                <h2 style="font-weight: 400">Qty: <%= item.quantity %></h2>
                            </div>
                            <div class="item-price">
                                <h2>₱<%= item.subTotal %></h2>
                            </div>
                        </div>
                    <% }) %>
                </div>


                <table class="totalSummary">
                    <tr>
                        <th class="text-muted">Merchandise Subtotal</th>
                        <td id="merchTotal">₱<%= displayOrderInfo.totalAmount %></td>
                    </tr>
                    <tr>
                        <th class="text-muted">Shipping</th>
                        <td id="shippingFee">-</td>
                    </tr>
                    <tr>
                        <th class="text-muted">Order Total</th>
                        <td id="orderTotal">₱<%= displayOrderInfo.totalAmount %></td>
                    </tr>
                    <tr>
                        <th class="text-muted">Payment Method</th>
                        <td id="modeOfPayment"><%= displayOrderInfo.modeOfPayment %></td>
                    </tr>
                </table>
            </div><!-- End of List of Orders -->
    
    </div> <!-- END OF ORDER CONTAINER -->
    <br>
</main>