<link rel="stylesheet" href="/public/assets/css/customer/settings.css">
<script defer src="/public/script/customer/settings/functions.js" type="text/javascript"></script>
<script defer src="/public/script/customer/filepond/fileUploadSettings.js"></script>
<script defer src="/public/script/customer/settings/general.js" type="text/javascript"></script>

<main class="main">
    <h1>Settings</h1>
    <p id="uid" hidden>
        <%= displayAccountInfo[0].id %>
    </p>
    <div class="settings">
        <!-- Navigation -->
        <ul class="nav-settings">
            <li class="nav-item active">
                <a>Account</a>
            </li>
            <li class="nav-item">
                <a>Addresses</a>
            </li>
            <li class="nav-item">
                <a>Feedback</a>
            </li>
            <li class="nav-item">
                <a>Help</a>
            </li>
            <li class="nav-item">
                <a>CSC Policies</a>
            </li>
        </ul>
        <!-- Navigation -->

        <!-- ======================== TABS ========================== -->
        <!-- ACCOUNT SETTINGS -->
        <div id="account-tab" style="display: block">
            <!-- ACCOUNT -->
            <div class="content">

                <div class="top">
                    <h2>My Profile</h2>
                    <p class="text-muted">Manage and protect your account</p>
                </div>

                <div class="middle">
                    <% displayCustomerInfo.forEach(customerInfo=> { %>
                        <form action="/customercenter/settings/updateData" method="post" class="account-settings-form">
                            <!-- INPUTS -->
                            <table class="components">
                                <tr>
                                    <th class="text-muted">Display Name</th>
                                    <td><input type="text" name="userName" id="username"
                                            value="<%=customerInfo.displayName !== '' ? customerInfo.displayName : 'Unknown Customer'%>">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Full Name</th>
                                    <td><input type="text" name="fullName" id="fullName"
                                            value="<%=customerInfo.fullName !== '' ? customerInfo.fullName : 'Unknown Customer Name'%>">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Email</th>
                                    <td><input type="email" name="email" id="email" value="<%=customerInfo.email%>"
                                            disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Phone Number</th>
                                    <td><input type="text" name="contactNum" id="contactNum"
                                            value="<%=customerInfo.contactNo !== '' ? customerInfo.contactNo : 'Unknown Customer'%>">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Gender</th>
                                    <td>
                                        <label class="radio">
                                            <input type="radio" name="gender" id="male" value="Male"
                                                <%=customerInfo.gender==='Male' ? 'checked' : '' %>
                                            >
                                            <span>Male</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="gender" id="female" value="Female"
                                                <%=customerInfo.gender==='Female' ? 'checked' : '' %>>
                                            <span>Female</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="gender" id="other" value="Other"
                                                <%=customerInfo.gender==='Other' ? 'checked' : '' %>>
                                            <span>Other</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-muted">Date Of Birth</th>
                                    <td>
                                        <input type="date" name="birthday" id="birthdate"
                                            value="<%=customerInfo.birthday !== '' ? customerInfo.birthday : ''%>">
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><input type="submit" value="Save" class="save-btn"></td>
                                </tr>
                            </table>

                        </form>
                        <% }) %>
                            <% displayAccountInfo.forEach(accountInfo=> { %>
                                <div class="uploadPhoto">
                                    <form action="/customercenter/settings/updatePhoto" method="post">
                                        <div class="profile-photo" style="display: block">
                                            <ion-icon name="camera" id="btnProfile"></ion-icon>
                                            <img src="<%= accountInfo.userPhoto !== '' ? 
                                            `data:${accountInfo.imgType};base64,${accountInfo.userPhoto}` :
                                            '/public/assets/images/default/user-default-profile.png'%>"
                                                alt="<%=accountInfo.displayName%>">
                                        </div>
                                        <div class="input-file" style="display: none">
                                            <input type="file" class="filepond" name="updatePhoto">
                                            <div class="button-group">
                                                <button type="button" id="btnCancelChangePhoto">Cancel</button>
                                                <button type="submit">Update</button>
                                            </div>
                                        </div>
                                        <small class="text-muted">File size: maximum 1 MB</small><br>
                                        <small class="text-muted">File extension: .JPEG, .PNG</small>
                                    </form>
                                </div>
                                <% }) %>
                </div>

            </div>
            <!-- CHANGE PASSWORD -->
            <div class="content">

                <div class="top">
                    <h2>Change Password</h2>
                    <p class="text-muted">For your account's security, do not share your password with anyone else</p>
                </div>

                <div class="middle">
                    <form disable>
                        <!-- INPUTS -->
                        <table class="components">
                            <tr>
                                <th class="text-muted">New Password</th>
                                <td><input type="password" name="password" id="newPass"></td>
                            </tr>
                            <tr>
                                <th class="text-muted">Confirm Password</th>
                                <td><input type="password" name="password" id="confirmPass"></td>
                            </tr>
                            <tr>
                                <th class="text-muted">Verification Code</th>
                                <td class="verify">
                                    <input type="text" name="verificationCode" id="verificationCode">
                                    <button>Send Verification</button>
                                </td>
                            </tr>

                            <tr>
                                <th></th>
                                <td><input type="submit" value="Confirm" class="save-btn"></td>
                            </tr>
                        </table>

                    </form>
                </div>
            </div>
        </div>

        <!-- ADDRESSES SETTINGS -->
        <div id="addresses-tab" style="display: none">
            <div class="content" id="dynamicAddressContainer">
                <div class="top-address">
                    <div class="title">
                        <h2>My Addresses</h2>
                    </div>
                    <div class="btn-address">
                        <button class="active modal-btn">+ Add New Address</button>
                    </div>
                </div>
                <% addressData.forEach((address, index)=> { %>
                    <div class="middle">
                        <div class="location">
                            <div class="customerDetails">
                                <h2 id="customerName">
                                    <%= address.name %>
                                </h2>
                                <p id="customerContact" class="text-muted">
                                    <%= address.phone %>
                                </p>
                            </div>
                            <div class="detailed-address">
                                <p id="address" class="text-muted">
                                    <%= address.province %>, <%= address.city %> City, <%= address.barangay %>, <%=
                                                    address.street %>
                                                    <%= address.postal %>
                                </p>
                            </div>
                            <div class="labels">
                                <label id="label-type"
                                    class="<%= address.type === 'Home' ? 'default-type' : 'work-type' %>">
                                    <%= address.type %>
                                </label>
                            </div>
                        </div>

                        <div class="action">
                            <div class="edit">
                                <button class="edit-btn" name="btnEdit" data-address-id="<%= address.addressID %>">
                                    <ion-icon name="create-outline"></ion-icon> Edit
                                </button>
                            </div>
                            <div class="delete">
                                <button class="delete-btn" name="btnDelete" data-address-id="<%= address.addressID %>">
                                    <ion-icon name="trash-outline"></ion-icon> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    <%- index % 2==0
                        ? '<hr size="3" style="width: 95%; margin: auto; background-color: var(--color-info-light);">'
                        : '' %>

                        <% }) %>
            </div>
        </div>

        <!-- FEEDBACK SETTINGS -->
        <div id="feedback-tab" style="display: none">
            <div class="content">

                <div class="top">
                    <h2>Feedback</h2>
                    <p class="text-muted">Your feedbacks is important for us to have improvement</p>
                </div>

                <!-- Customer Support -->
                <div class="middle-content">
                    <div class="feedback-content-details">
                        <ion-icon name="chatbubble-ellipses"></ion-icon>
                        <div class="feedback-details">
                            <h2>Customer Support</h2>
                            <p class="text-muted">Connect with customer support to solve your issues with payments,
                                returns and refunds.</p>
                        </div>
                    </div>
                    <div class="btn-goTo">
                        <a href="#" style="cursor: pointer;">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                </div>

                <hr size="3" style="width: 100%; margin: auto; background-color: var(--color-info-light);">

                <!-- Report error -->
                <div class="middle-content">
                    <div class="feedback-content-details">
                        <ion-icon name="bug"></ion-icon>
                        <div class="feedback-details">
                            <h2>Report a page error</h2>
                            <p class="text-muted">Alert us of bugs to help us improve our website.</p>
                        </div>
                    </div>
                    <div class="btn-goTo">
                        <a href="#" style="cursor: pointer;">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                </div>

                <hr size="3" style="width: 100%; margin: auto; background-color: var(--color-info-light);">

                <!-- Report Scammers -->
                <div class="middle-content">
                    <div class="feedback-content-details">
                        <ion-icon name="alert-circle"></ion-icon>
                        <div class="feedback-details">
                            <h2>Report Products and Potential Scammers</h2>
                            <p class="text-muted">Alert us of unprohibited products and suspicious sellers.</p>
                        </div>
                    </div>
                    <div class="btn-goTo">
                        <a href="#" style="cursor: pointer;">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                </div>

                <hr size="3" style="width: 100%; margin: auto; background-color: var(--color-info-light);">

                <!-- Report Scammers -->
                <div class="middle-content">
                    <div class="feedback-content-details">
                        <ion-icon name="bulb"></ion-icon>
                        <div class="feedback-details">
                            <h2>Give Suggestions</h2>
                            <p class="text-muted">Help us serve you better.</p>
                        </div>
                    </div>
                    <div class="btn-goTo">
                        <a href="#" style="cursor: pointer;">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <!-- HELP SETTINGS -->
        <div id="help-tab" style="display: none">
            <div class="content">

                <div class="top">
                    <h2>FAQ</h2>
                    <p class="text-muted">Frequently Asked Questions</p>
                </div>

                <!-- ACCORDION -->
                <div class="row">
                    <div class="col">
                        <div class="tabs">

                            <div class="tab">
                                <input type="radio" id="rd1" name="rd">
                                <label class="tab-label" for="rd1">City Sales Cloud New Buyer's Guide</label>
                                <div class="tab-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing, elit. Temporibus laudantium
                                    numquam eum magnam, molestias, quod ex deleniti deserunt necessitatibus consectetur
                                    ullam harum cumque dicta eius earum, sunt pariatur beatae ducimus. Aspernatur non
                                    aliquam recusandae facere in animi maiores dolorem magnam.
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" id="rd2" name="rd">
                                <label class="tab-label" for="rd2">City Sales Cloud Refund Policy</label>
                                <div class="tab-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing, elit. Temporibus laudantium
                                    numquam eum magnam, molestias, quod ex deleniti deserunt necessitatibus consectetur
                                    ullam harum cumque dicta eius earum, sunt pariatur beatae ducimus. Aspernatur non
                                    aliquam recusandae facere in animi maiores dolorem magnam.
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" id="rd3" name="rd">
                                <label class="tab-label" for="rd3">How can I return an item?</label>
                                <div class="tab-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing, elit. Temporibus laudantium
                                    numquam eum magnam, molestias, quod ex deleniti deserunt necessitatibus consectetur
                                    ullam harum cumque dicta eius earum, sunt pariatur beatae ducimus. Aspernatur non
                                    aliquam recusandae facere in animi maiores dolorem magnam.
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" id="rd4" name="rd">
                                <label class="tab-label" for="rd4">How do I track my order?</label>
                                <div class="tab-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing, elit. Temporibus laudantium
                                    numquam eum magnam, molestias, quod ex deleniti deserunt necessitatibus consectetur
                                    ullam harum cumque dicta eius earum, sunt pariatur beatae ducimus. Aspernatur non
                                    aliquam recusandae facere in animi maiores dolorem magnam.
                                </div>
                            </div>

                            <div class="tab">
                                <input type="radio" id="rd5" name="rd">
                                <label class="tab-label" for="rd5">How do I avail my voucher?</label>
                                <div class="tab-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing, elit. Temporibus laudantium
                                    numquam eum magnam, molestias, quod ex deleniti deserunt necessitatibus consectetur
                                    ullam harum cumque dicta eius earum, sunt pariatur beatae ducimus. Aspernatur non
                                    aliquam recusandae facere in animi maiores dolorem magnam.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END OF ACCORDION -->

            </div>
        </div>

        <!-- CSC POLICIES SETTINGS -->
        <div id="policy-tab" style="display: none">
            <div class="content">
                <div class="top">
                    <h2>Terms and Condition Policy</h2>
                    <p class="text-muted">City Sales Cloud Policies</p>
                </div>
                <div class="middle-policy">
                    <img src="/public/assets/images/mainLogo.png">
                    <p>Welcome to City Sales Cloud These terms and conditions outline the rules and regulations for the
                        use of City Sales Cloud’s Website. City Sales Cloud is located at <b>Pamantasan ng Cabuyao,
                            Katapatan Homes, Banaybanay, Cabuyao, Laguna</b>.</p><br>
                    <p>By accessing this website <b>we assume you accept these terms and conditions in full</b>. Do not
                        continue to use City Sales Cloud's website if you do not accept all of the terms and conditions
                        stated on this page.</p><br>
                    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
                        Notice and any or all Agreements: <b>Client, You and Your refers to you, the person accessing
                            this website and accepting the Company’s terms and conditions</b>. <b>The Company,
                            Ourselves, We, Our and Us, refers to our Company</b>. <b>Party, Parties, or Us, refers to
                            both the Client and ourselves, or either the Client or ourselves</b>.</p><br>
                    <p>All terms refer to the offer, acceptance and consideration of payment necessary to undertake the
                        process of our assistance to the Client in the <b>most appropriate manner</b>, whether by formal
                        meetings of a fixed duration, or any other means, for the express purpose of meeting the
                        Client’s needs in respect of provision of the Company’s stated services/products, in accordance
                        with and subject to, <b>prevailing law of Pamantasan ng Cabuyao, Katapatan Homes, Banaybanay,
                            Cabuyao, Laguna</b>.</p><br>
                    <p><b>Any use of the above terminology or other words in the singular, plural, capitalisation and/or
                            he/she or they, are taken as interchangeable and therefore as referring to same</b>.</p>
                </div>
            </div>
        </div>

    </div> <!-- END OF SETTINGS CONTAINER -->
    <br><br>

    <!-- ================== M   O   D   A   L   S ==================== -->

    <!-- ================== ADD NEW ADDRESS MODAL ==================== -->
    <div class="modal-wrap">
        <div class="shadow close-btn"></div>
        <div class="modal-address">

            <div class="header">
                <div class="title">New Address</div>
                <span class="icon close-btn">
                    <ion-icon class="i" name="close-outline"></ion-icon>
                </span>
            </div>
            <div class="modal-container">
                <form action="#" id="form_addNewAddress">
                    <div class="modal-body">
                        <div class="modal-address-wrap">
                            <div class="field-flex">
                                <label class="custom-field">
                                    <input type="text" name="address_fullName" required>
                                    <span class="placeholder">Full Name</span>
                                </label>

                                <label class="custom-field">
                                    <input type="text" name="address_phone" required>
                                    <span class="placeholder">Phone Number</span>
                                </label>
                            </div>
                            <div class="field-flex">
                                <label class="custom-field">
                                    <input type="text" name="address_city" required>
                                    <span class="placeholder">City</span>
                                </label>

                                <label class="custom-field">
                                    <input type="text" name="address_province" required>
                                    <span class="placeholder">Province</span>
                                </label>
                            </div>
                            <div class="field-grid">
                                <label class="custom-field">
                                    <input type="text" name="address_barangay" required>
                                    <span class="placeholder">Barangay</span>
                                </label>
                                <label class="custom-field">
                                    <input type="text" name="address_postal" required>
                                    <span class="placeholder">Postal Code</span>
                                </label>
                                <label class="custom-field">
                                    <input type="text" name="address_street" required>
                                    <span class="placeholder">Street Name, Building, House No.</span>
                                </label>
                            </div>
                            <div class="field-label">
                                <p>Label As:</p>
                                <div id="label-types">
                                    <label name="address_label" class="label-type label-active">Home</label>
                                    <label name="address_label" class="label-type">Work</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="footer-btn">
                            <button type="submit" class="submit-btn active">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ================== END OF ADD NEW ADDRESS MODAL ==================== -->

    <!-- ================== EDIT ADDRESS MODAL ==================== -->
    <div class="modal-wrap-edit">
        <div class="shadow close-btn"></div>
        <div class="modal-address">
            <div class="header">
                <div class="title">Edit Address</div>
                <span class="icon close-btn" id="btnCloseUpdateModal">
                    <ion-icon class="i" name="close-outline"></ion-icon>
                </span>
            </div>
            <div class="modal-container">
                <div class="modal-body" id="modal_editAddress">
                    <div class="spinner-border text-primary" id="loader" role="status" style="margin: 20px auto;">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
                <div class="footer">
                    <div class="footer-btn">
                        <button class="update-btn active" id="btnUpdateAddress">UPDATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== END OF EDIT ADDRESS MODAL ==================== -->

</main>