<div class="navigation" id="sideNavBar">
    <div class="toggle">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
    <ul>
        <li class="list">
            <b></b>
            <b></b>
            <a href="/sellercenter">
                <span class='icon'><ion-icon name="grid-outline"></ion-icon></span>
                <span class='title'>Dashboard</span>
            </a>
            <!-- <span class='tooltip'>Dashboard</span> -->
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="/sellercenter/products">
                <span class='icon'><ion-icon name="cube-outline"></ion-icon></span>
                <span class='title'>Products</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="/sellercenter/transactions">
                <span class='icon'><ion-icon name="wallet-outline"></ion-icon></span>
                <span class='title'>Transactions</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="/sellercenter/reports">
                <span class='icon'><ion-icon name="clipboard-outline"></ion-icon></span>
                <span class='title'>Reports</span>
            </a>
        </li>
        <hr>
        <li class="list" id="listSettings">
            <b></b>
            <b></b>
            <a href="/sellercenter/settings?tab=account">
                <span class='icon'><ion-icon name="settings-outline"></ion-icon></span>
                <span class='title'>Settings</span>
            </a>
        </li>
    </ul>
    <div class="profile-container">
        <div class="profile">
            <div class="profile-details">
                <div class="picture">
                    <a href="/sellercenter/settings/?tab=account">
                        <% if(sellerInfo.accountCol.userPhoto === '' ) { %>
                            <img src="/public/assets/images/default/user-default-profile.png" alt="<%=sellerInfo.accountCol.displayName%>">
                            <% } else { %>
                                <img src="data:<%=sellerInfo.accountCol.imgType%>;base64,<%=sellerInfo.accountCol.userPhoto%>"alt="<%=sellerInfo.accountCol.displayName%>">
                        <% } %>
                    </a>
                </div>
                <div class="details">
                    <div class="name"><%= sellerInfo.accountCol.displayName %></div>
                    <div class="subType"><%= sellerInfo.stripeCol.sellerType %> </div>
                </div>
            </div>
            <div class="logout">
                <a href="/sellercenter/auth/logout">
                    <ion-icon name="log-in-outline" id="logout"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</div>